.root {
  padding-bottom: 40px;
}

.title {
  font-size: 32px;
  margin-bottom: 24px;
  text-align: center;
  font-weight: normal;
  text-transform: capitalize;
}

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 28px;
}

.column {
  display: flex;
  justify-content: space-between;
  /* margin: 0 auto; */
  flex-direction: column;
  margin: 0 4px;
}
