.title {
  font-size: 36px;
  margin-bottom: 24px;
}

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.column {
  display: flex;
  justify-content: space-between;
  /* margin: 0 auto; */
  flex-direction: column;
  margin: 0 4px;
}