.header {
  margin: 12px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid var(--collection-color-1);
  padding: 12px;
}

.lives {
  font-size: 20px;
  letter-spacing: 4px;
}

.broken {
  opacity: 0.5;
}

.answered {
  font-weight: bold;
  font-size: 20px;
}

.close {
  background: transparent;
  border: 1px solid var(--collection-color-1);
  padding: 12px;
  cursor: pointer;
  outline: none;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
