:root {
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  
  /* colors */
  --collection-color-1: #22223b; /* dark navy blue */
  --collection-color-2: #4a4e69; /* deep purple-blue */
  --collection-color-3: #9a8c98; /* muted mauve */
  --collection-color-4: #c9ada7; /* light taupe */
  --collection-color-5: #f2e9e4; /* very light peach */
  --collection-color-6: #6b705c; /* muted olive green */
  --collection-color-7: #ffcb69; /* muted yellow */
  --collection-color-8: #b5838d; /* dusty pink */
  --collection-color-9: #2a9d8f; /* teal */
  --collection-color-10: #8d99ae; /* soft gray-blue */

  --text-color: var(--collection-color-5);
  
  --bg-color-primary: #0f0f0f;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--text-color);
  background: var(--bg-color-primary);
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
